######################### RELOAD SHELL, PROFILE  #########################
alias r='exec $SHELL -l'
alias r.='source ~/.zshrc'
######################### ALL PURPOSE #########################
alias ..='cd ..'
alias a='alias'
alias af='alias | grep'
alias b='cd -'
alias c='clear'
alias d='du -hc -d 1'
alias e='code -n .'
alias h='history -250'
alias hf='history 0 | grep --color=auto'
alias hz='history -wc'
alias ipf='ipconfig getifaddr en0'
alias ipf.='dig +short myip.opendns.com @resolver1.opendns.com'
alias la='ls -lFAhG'
alias ll='ls -lFhG'
alias lln='ls -lthG'
alias llx='ls -lthGS'
alias lt='ls -1 | wc -l'
alias tmz='sudo rm /var/mail/$(whoami)'
alias xf='rsync -rvzu --progress --dry-run'
alias xf.='rsync -rvzu --progress'
alias z='rm -rf'
# END OF FILE
