######################### GENERAL PURPOSE ALIASES #########################
alias '_s'='source ~/.zshrc'
alias '_sr'='exec $SHELL -l'
alias 'a'='alias'
alias 'af'='alias | grep '
alias 'b'='cd -'
alias 'c'='clear'
alias 'cai'='cursor-agent '
alias 'clai'='claude '
alias 'd'='du -hc -d 1'
alias 'e'='cursor -n .'
alias 'ec'='code -n .'
alias 'ez'='zed -n .'
alias 'h'='history -1500'
alias 'hf'='history -1500| grep --color=auto '
alias 'hz'='history -wc'
alias 'ip'='ipconfig getifaddr en0'
alias 'ipx'='dig +short myip.opendns.com @resolver1.opendns.com'
alias 'la'='ls -lFAhG'
alias 'll'='ls -lFhG'
alias 'lln'='ls -lthG'
alias 'llx'='ls -lthGS'
alias 'lt'='ls -1 | wc -l'
alias 'tmz'='sudo rm /var/mail/$(whoami)'
alias 'u'='cd ..'
alias 'xf'='rsync -rvzu --progress'
alias 'xfd'='rsync -rvzu --progress --dry-run'
alias 'z'='rm -rf'

if [[ $OSTYPE == linux-gnu* ]]; then
    export ZED_ALLOW_EMULATED_GPU=1 && export DISPLAY=:0
    alias zed='flatpak run dev.zed.Zed'
fi
# END OF FILE
